*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: start;
  padding-top: 67px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  width: 100%;
  padding: 30px;
  margin-top: 35px;
}

.result {
  grid-column: 1/2;
}

.content__details {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content__list {
  padding-top: 26px;
  height: 320px;
  overflow: auto;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.result__video-container {
  margin-bottom: 5px;
  min-width: 711px;
}

.title {
  font: 400 75px 'Oswald', 'sans-serif';
  text-transform: uppercase;
  /*Я думаю что line-height нужно задать относительным*/
  line-height: 72px;
}

.content__accent {
  color: #545050;
}

.content__list-item {
  margin-bottom: 36px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-card {
  display: flex;
  height: 100%;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}
